<div class="conatiner">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h5>
                        Name : {{data[0].name}}
                    </h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Address : {{data[0].address}} </li>
                  <li class="list-group-item">Phone Number : {{data[0].phnNo}} </li>
                  <li class="list-group-item">Email_Id : {{data[0].emailId}} </li>
                </ul>
              </div>
        </div>
    </div>
</div>